<%layout('layouts/boilerplate')%>
<h1>Home</h1>
<div class="mb-3">
    <button type="submit" class="btn btn-info"><a href="/register" class="text-light">Register</a></button>
    <button type="submit" class="btn btn-info"><a href="/login" class="text-light">Sing In</a></button>
    <button type="submit" class="btn btn-info"><a href="/campgrounds" class="text-light">All Campgrounds</a></button>
</div>
